


/* Preferred box-sizing value */
*,
*::before,
*::after {
	box-sizing: border-box;
}




/* For images to not be able to exceed their container */
img {
	max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
	border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
	white-space: revert;
}

/* Our Styles */

body {
	margin: 0;
	background: #eee;
	color: #333;
	font-family: sans-serif;
	overflow-y: scroll;
}

footer,
header,
main {
	padding: 1rem;
	margin-inline: auto;
	max-width: 40rem;
}

h1 {
	font-size: 3rem;
}

:where(h1, h2, h3) {
	font-weight: bold;
}

a {
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}
